<div class="sidebar">
    <p>掲載記事 & ブログ</p>
    <ul class="article-card">
        <li class="card">a</li>
        <li class="card">b</li>
        <li class="card">c</li>
    </ul>
    <div class="sidebar-sns">
        <p>SNS</p>
        <div class="sns">
            <a class="twitter-timeline"  data-lang="ja" data-height="600" href="https://twitter.com/ExpectedGoal1?ref_src=twsrc%5Etfw">Tweets by ExpectedGoal1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>