<div class="sidebar">
    <p><%=t(".article") %></p>
        <% if admin_user_signed_in? %>
        <button class="btn btn-outline-primary float-right mr-5 mb-2" type="button" data-toggle="modal" data-target="#newArticleModal">追加</button> 
        <%end%>
    <ul class="article-card">
        <% @pick_articles.each do |article|%>
            <li class="card"><%= image_tag article.image.url  , class: "img_images" if article.image? %>
            <div class="text-center">
                <% if admin_user_signed_in? %>
                    <button class="btn btn-outline-primary my-1" type="button" data-toggle="modal" data-target="#newArticleModal">編集</button> 
                    <button class="btn btn-outline-primary my-1" type="button" data-toggle="modal" data-target="#newArticleModal">削除</button> 
                <%end%>
            </div></li><div class="pull-right"><%= article.title %></div>
        <% end %>
    </ul>
        <div class="text-right mr-5">
            <a href="#"><%=t(".more")%></a>
        </div>
    <div class="sidebar-sns">
        <p>SNS</p>
        <div class="sns">
            <a class="twitter-timeline"  data-lang="ja" data-height="600" href="https://twitter.com/ExpectedGoal1?ref_src=twsrc%5Etfw">Tweets by ExpectedGoal1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>